# Frontend
client/node_modules/
client/.env
client/build/
node_modules

# Backend
server/venv/
server/.env
**/__pycache__
server/*.sqlite3
**/migrations/
**/*.pyc
**/*.pyo
**/*.pyd

# General
.DS_Store
.vscode/
.idea/

server/users/evenxo-g-auth-firebase-adminsdk.json

*.log
server/general.log

server/celerybeat-schedule.bak
server/celerybeat-schedule.dat
server/celerybeat-schedule.dir
server/staticfiles/
server/celerybeat-schedule
